.rotate {
	animation: rotation 20s infinite linear;
}

@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(360deg);
	}
}

.header-title,
.header-title:hover {
  color: inherit;
  text-decoration: none;
}

.content-title {
  font-size: 5rem;
  color: #1D3461;
}